<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Hello There</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_NavBar")

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                @Html.Partial("_LeftSideNav")
            </div>
            <div class="col-sm-8 text-left">
                @RenderBody()
            </div>
            <div class="col-sm-2 sidenav">
                @Html.Partial("_RightSideNav")     
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>@Html.ActionLink("Contact", "Contact", "Home") - @Html.ActionLink("About", "About", "Home")</p>
        <p>&copy; @DateTime.Now.Year - Hello There</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")  
    @RenderSection("scripts", required: false)
</body>
</html>
