@model HWF.Models.MemberProfile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Member Profile</h3>
    </div>
    <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>@Model.ProfileName</span>
                </div>
                <div class="panel-body">
                    <img src="~/Content/Images2/Male-Avatar.png" width="80" height="100" style="float:left" />
                    <p>Him: @Model.Him</p>
                    <p>Seeking: @Model.Seeking</p>
                    <br />
                    <p>City: @Model.City, State: @Model.State, Country: @Model.Country</p>
                </div>
            </div>
    </div>
</div>
